*,
body {
    font-family: 'Montserrat',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #02040F;
    z-index: 0;
    perspective: 400px;
}

#box {
    position: relative;
    width: 20vw;
    aspect-ratio: 1;
    border-radius: 5px;
    background-color: rgb(2, 4, 15, 75%);
    text-transform: capitalize;
    color: #fff;
    transform-style:preserve-3d;
    transition: 1s ease-in-out;
    perspective: 1000px;
}

#box:hover {
    transform: translateZ(-100px) rotateY(10deg);
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

#box::before,
#box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    padding: 2%;
    border-radius: inherit;
    --angle: 0deg;
    background-color: #FF0000;
    background-image: conic-gradient(from var(--angle), #BE0AFF, #0AFF99, #580AFF, #BE0AFF);
    animation: autoRotate 2s linear infinite;
    z-index: -1;
    box-sizing: unset;
    transform: translate3d(-50%, -50%, -10px);
}

#box::after {
    filter: blur(60px);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 900;
    font-size: 15vw;
    letter-spacing:  0;
    pointer-events: none;
    transform-style: preserve-3d;
    transform-origin: right center;
    transition: all .5s linear;
}

.text.shadow {
    color: #8a95a1;
    filter: blur(40px);
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    mix-blend-mode: color-burn;
}

.text.border {
    color: #fff;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: #f3f3f3;
    transition-delay: .01s;
    z-index: 2;
    mix-blend-mode: overlay;
    transform: translate3d(-50%, -50%, 10px);
}

.text.front {
    color: #12c77c;
    mix-blend-mode: normal;
    z-index: 3;
    transform: translate3d(-50%, -50%, 20px);
}

#box:hover .text.front {
    transform:  translate3d(-50%, -50%, 50px) rotateY(20deg);
}

@keyframes autoRotate {
    to {
        --angle:360deg;
    }
}