:root {
    --background-color: #3742fa;
    --blue: #3742fa;
    --red: #ff4757;
    --yellow: #eccc68;
    --green: #2ed573;
    --gray: #f1f2f6;
    --black: #2f3542;
    --white: #fff
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
body {
    box-sizing: border-box;
    margin: 0 auto;
}
.wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 20px;
    max-width: 768px;
    display: flex;
    flex-direction: column;
}
.logo {
    text-align: center;
}
.nav {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 0 10px;
    margin: 0;
    box-sizing: content-box;
    position: relative;
    scroll-padding-left: 5px;
}
.nav__menu {
    display: flex;
}
.nav__menu__item {
    color: #fff;
    background-color: var(--green);
    box-shadow: 0 -1px 3px 3px rgba(136, 136, 136, .3);
    filter: hue-rotate(var(--d));
    display: block;
    padding: 5px 10px;
    margin: 5px 10px 0 0;
    border-radius: 3px 3px 0 0;
    scroll-snap-align: start;
}
#header {}
#main {}
#footer {}
.section {
    background-color:var(--gray);
    background-color:var(--green);
    filter: hue-rotate(var(--d));
}