:root {
  --color-main: #e60012;
  --color-base: #111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-base);
}
ul,
li {
  list-style: none;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  position: 100vh;
  z-index: 1;
}
.inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
footer {
  background-color: var(--color-main);
}
