/*----------------------------------
    VARIABLE
----------------------------------*/
:root {
  --color-main: #e60012;
  --color-base: #111;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/*----------------------------------
    ELEMENTS
----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-base);
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
ul,
li {
  list-style: none;
}
img {
  border-style: none;
  width: 100%;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
/*----------------------------------
    COMMON PARTS
----------------------------------*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  margin-top: 90px;
}
.inner {
  width: 100%;
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
}
nav.nav ul.nav-menu li {
  display: inline-block;
  margin-right: 20px;
}
nav.nav ul.nav-menu li:last-child {
  margin-right: 0;
}
/*----------------------------------
    HEADER
----------------------------------*/
#header {
  background-color: var(--color-main);
  color: #fff;
  position: fixed;
  width: 100%;
  height: 90px;
  transition: all ease 1s;
  top: 0;
  z-index: 999;
}
#navigation {
  width: 100%;
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 1s;
}
#logo {
  width: 100px;
  height: auto;
  transition: width ease 1s;
}
#main-menu {
  margin-left: auto;
  /* transition: all ease 1s; */
}

#toggle {
  display: none;
}
/*----------------------------------
    FOOTER
----------------------------------*/
#footer {
  background-color: var(--color-main);
}
/*----------------------------------
    FRONT PAGE
----------------------------------*/
#header.sticky {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(../images/AdobeStock_206984735_Preview.jpeg) center center no-repeat;
  background-size: cover;
}
#header.sticky #navigation {
  flex-direction: column;
  justify-content: flex-end;
}
#header.sticky #navigation #logo {
  width: 20vw;
  margin: auto;
}
#header.sticky #navigation #main-menu {
  margin: 0 auto 50px;
}
#header.sticky #navigation #main-menu li {
  font-size: 20px;
}