/*----------------------------------
    VARIABLE
----------------------------------*/
:root {
  --color-main: #e60012;
  --color-main-hover: rgba(230, 0, 18, 0.70);
  --color-base: #111;
  --font-family: -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --h1-size: 2rem;
  --h2-size: 1.7rem;
  --h3-size: 1.5rem;
  --h4-size: 1.35rem;
  --h5-size: 1.125rem;
  --base-line-height: 1.4;
  --heading-line-height: 1.5;
}

/*----------------------------------
    ELEMENTS
----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-base);
  line-height: var(--base-line-height);
}
div {
  position: relative;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
ul,
li {
  list-style: none;
}
img {
  border-style: none;
  width: 100%;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
a {
  color: var(--color-base);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  line-height: var(--heading-line-height);
}
h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
}
h5 {
  font-size: var(--h5-size);
}
/*----------------------------------
    COMMON PARTS
----------------------------------*/
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
ul.nav-menu {
  display: flex;
}
ul.nav-menu li {
  display: block;
  margin-right: 20px;
}
ul.nav-menu li:last-child {
  margin-right: 0;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
.inner {
  width: 100%;
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
}
.section,
section.content {
  padding: 64px 0;
}
.block {
  display: block;
  position: relative;
}
.block--content {
  margin-bottom: 40px;
}
.block--frame {
  border: 1px solid var(--color-main);
  color: var(--color-main);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 40px 0;
  padding: 20px;
}
.reverse {
  flex-wrap: wrap-reverse;
}
.block--banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.banner {
  display: block;
  position: relative;
  padding: 15px;
}
.banner--half {
  width: calc(50% - 30px);
}
.banner figcaption {
  display: block;
  padding: 10px;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}
.banner figure img {
  width: 100%;
  height: auto;
}
/*----------------------------------
    HEADER
----------------------------------*/
#header {
  background-color: var(--color-main);
  color: #fff;
  position: fixed;
  width: 100%;
  height: 90px;
  transition: all ease 1s;
  top: 0;
  z-index: 999;
}
#navigation {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 100px;
  height: auto;
}
#main-menu {
  margin-left: auto;
}
#toggle {
  display: none;
}
/*----------------------------------
    BODY MAIN
----------------------------------*/

/*----------------------------------
    FOOTER
----------------------------------*/
#footer {
  background-color: var(--color-main);
  color: #fff;
}
#footer-menu {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  border-bottom: 2px solid #fff;
}
#footer-menu a {
  color: #fff;
  font-weight: bold;
}
.copyright {
  text-align: center;
  padding: 30px 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
/*----------------------------------
    FRONT PAGE
----------------------------------*/
#header.top-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(../images/AdobeStock_206984735_Preview.jpeg) center center no-repeat;
  background-size: cover;
}
#header.top-page #navigation {
  flex-direction: column;
  justify-content: flex-end;
}
#header.top-page #logo {
  width: 20vw;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header.top-page #main-menu {
  margin: 0 auto 50px;
}
#header.top-page #main-menu li {
  font-size: 20px;
}
#header.top-page #main-menu a {
  text-shadow: 0 0 5px rgba(0,0,0,.5);
}
#header.top-page #main-menu a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  position: relative;
  padding: 20px;
}
#header.top-page #main-menu a::after {
  content: '';
  background-color: var(--color-main-hover);
  height: 20px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -20px;
  transition: width ease 0.25s;
}
#header.top-page #main-menu a:hover::after {
  width: 100%;
}